@import "../../../styles/mixins";
@import "../../../styles/variables.module.scss";

.campaignContainer{
    width: 100%;
    padding: 96px $paddingX;
    background: #F9F9FF;
    display: flex;
    flex-direction: column;
    align-items: center;

    .campaignContent{
        max-width: 768px;
        margin: 0 auto;
        text-align: center;
        h1{
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: #24272E;
            margin-bottom: 32px;

        }

        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color:#667085;
            margin-bottom: 48px;
        }
    }

    .campaignsCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // display: grid;
        gap: 27px;
        // place-items: center;
        // grid-template-columns: 1fr;
        // @include sm{
        //     grid-template-columns: 1fr 1fr;
        // }
        // @include lg{
        //     grid-template-columns: 1fr 1fr 1fr;
        // }
    }
}