@import "../../styles/mixins";

.gradientOverlay{
    background-image: linear-gradient(#002953CC, #002D5BCC), url(../../../public/hero-img.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    @include xl{
        background-position: 0 -150px;
    }
    width: 100%;
    position: relative;
    z-index: 1;

    .hero{
        position: absolute;
        z-index: 2;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        .heroContent{
            min-width: 90vw;
            @include lg{
                max-width: 90vw;
                // width: max-content;
            }
            

            h1{
                font-weight: 600;
                color: #fff;
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 28px;
                @include sm{
                    font-size: 60px;
                    line-height: 72px;
                }
            }

            p{
                font-weight: 400;
                color:#E3E3E3;
                text-align: center;
                font-size: 16px;
                line-height: 25px;
                @include sm{
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }

        .catalogButton{
            display: flex;
            align-items: center;
            gap: 8px;
            width: 210px;
            height: 60px;
            border-radius: 8px;
            border: 1px solid #FFE500;
            padding: 16px 28px;
            background: rgba(246, 233, 233, 0.1);
            margin-top: 50px;
            cursor: pointer;
            color: #fff;

            p{
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}