
.gradientOverlay{
    background-image: url(../../../public/hero-img.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    background-position: 0 -150px;

    &::before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: linear-gradient(#002953CC, #002D5BCC);
        z-index: 1;
    }

    .hero{
        position: relative;
        z-index: 2;
        text-align: center;
        top: 50%;
        // left: 50%;
        transform: translateY(-70%);

        .heroContent{
            // margin: 0 auto;
            h1{
                font-weight: 600;
                font-size: 60px;
                line-height: 72px;
                margin-bottom: 28px;
            }

            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color:#E3E3E3;
            }
        }

        .catalogButton{
            display: flex;
            align-items: center;
            gap: 8px;
            width: 210px;
            height: 60px;
            border-radius: 8px;
            border: 1px solid #FFE500;
            padding: 16px 28px;
            background: rgba(246, 233, 233, 0.1);
            margin-top: 50px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;

            p{
                font-weight: 600;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}