@import "../../styles/mixins";

.clientsContainer{
    color: #000;
    height: 200px;
    background: #F9F9FF;
    padding: 0 11.45%;
    width: 100%;
    display: flex;
    gap: 65px;
    align-items: center;

    .clientsLogo{
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        & *{
            object-fit: contain;
            cursor: pointer;
        }
    }

    .prevBtn, .nextBtn{
        cursor: pointer;
    }
}