@import "../../../styles/mixins";
@import "../../../styles/variables.module.scss";

.resContainer{
    background: $themeColor1;
    padding: 80px $paddingX;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .resContent{
        margin-bottom: 32px;
        max-width: 500px;
        h1{
            text-align: center;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            color: $headingColor;
            margin-bottom: 40px;
        }
        p{
            text-align: center;
            color:#7C7D82;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;

        }
    }

    .resCards{
        display: flex;
        flex-flow: wrap;
        gap: 26px;
        @include md{
            gap: 20px;
        }
        @include lg{
            gap: 26px;
        }
    }
}