@import "../../../styles/variables.module.scss";
@import "../../../styles/mixins";

.singleResCard{
    flex-grow: 1;
    height: 337.45px;
    width: calc(100vw - 11.45vw);
    @include md{
        width: 286px;
    }
    @include lg{
        width: 352px;
    }
    background: #fff;
    border-radius: 21.83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;

    .iconPart{
        align-self: flex-start;
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 15px;
        .icon{
            height: 66px;
            width: 66px;
            // background: #F8F1FF;
            border-radius: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1{
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #66686D;
        }
    }

    .cardContent{
        align-self: flex-start;
        h1{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: $headingColor;
            margin: 15px 0;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #7C7D82; 
        }
    }

    .redirection{
        align-self: flex-start;
        margin-top: auto;
    }
}