@import "../../styles/mixins";

.headerContainer {
  border-bottom: 1px solid #fff;

  .headerContent {
    max-width: 1280px;
    height: 80px;
    padding: 0 5%;
    @include xl{
      padding: 0 32px;
    }
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    .headerLeft {
      display: flex;
      align-items: center;
      gap: 40px;

      .companyLogo{
        cursor: pointer;
      }

      nav ul {
        display: flex;
        list-style: none;
        gap: 40px;

        .dynamicItems{
          display: flex;
          gap: 40px;
          opacity: 0;
          transition: opacity 0.5s;
          align-items: center;
          display: none;
          // visibility: hidden;
          @include xl{
            display: contents;
            // visibility: visible;
          }
          
          li {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;
            color: #fff;
          }
        }

        .visible{
          opacity: 1;
          transition: opacity 0.5s;
        }

        .resContainer{
          display: none;
          position: absolute;
          left: 51%;
          @include lg{
            left: 50%;
          }
          top: 28px;
          transform: translateX(-50%);
          z-index: 8;
          @include md{
            display: block;
          }
          .res{
            display: flex;
            gap: 8px;
            align-items: center;
            cursor: pointer;
            li{
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: #fff;
            }
          }
        }
      }
    }

    .searchIcon {
      padding: 6px;
      cursor: pointer;
      display: none;
      @include xl{
        display: block;
      }
    }

    .iconsContainer{
      display: block;
      @include xl{
        display: none;
      }
    }
    .menuIcon, .closeIcon{
      cursor: pointer;
      object-fit: cover;
      padding: 2px;
      transition: all ease 0.3s;
    }
    .closeIcon{
      padding: 0;
    }
  }
}
