@import "../../styles/mixins";
@import "../../styles/variables.module.scss";

.footer{
    padding: 0 $paddingX;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: linear-gradient(45deg, rgba(37, 84, 127, 0.85), rgba(37,84,127, 0.85)), 
    url(../../../public/footer-img.jpg);
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    flex-direction: column-reverse;
    @include lg{
        flex-direction: row;
    }

    .logoSection{
        max-width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include lg{
            align-items: start;
            max-width: 304px;
        }

        .imgContainer{
            position: relative;
            right: 10px;
            height: 50px;
            width: 3.33*50px;
            @include lg{
                right: 0;
                height: 5vw;
                width: 5*3.33vw;
            }
        }

        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            margin: 22px 0;
            text-align: center;
            @include lg{
                text-align: left;
                font-size: 14px;
            }
        }
        .iconContainer{
            display: flex;
            gap: 16px;
            .socialIcon{
                height: 36px;
                width: 36px;
                background: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .footerNav{
        display: flex;
        gap: 40px;
        @include sm{
            gap: 120px;
        }
        @include lg{
            gap: 80px;
        }
        @include lg{
            margin-left: auto;
        }

        h1{
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 32px;
        }

        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            font-family: 'DM Sans';
            margin-bottom: 16px;
        }
    }
}