@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
@import "../../../styles/mixins";

.campaignsCard{
    flex: 1;
    // width: 352px;
    min-width: 320px;
    @include lg{
        min-width: 245px;
        max-width: 352px;
        height: 52vw;
        max-height: 597px;
    }
    height: 597px;
    border-radius: 22px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .imgContainer{
        position: relative;
        // height: 352px;
        // width: 352px;
        height: 58.96%;
        @include lg{
            height: 25vw;
            max-height: 352px;
        }
        width: 100%;
        & *{
            object-fit: cover;
            border-radius: 22px 22px 0 0;
        }
    }

    .cardContent{
        margin-top: 20px;
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        flex: 1;
        h1{
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #24272E;
            text-align: left;
        }

        p{
            font-weight: 400;
            font-size: 16px;
            color: #4c5569;
            text-align: justify;
            margin-top: 15px;
        }
    }
    .redirection{
        margin-top: auto;
        padding: 20px 32px;
    }
}